.logo-div{
    /* border: 1px solid red; */
    border-radius: 50%;
    background-color:white;
    /* filter: blur(15px); */
   
}
.logo-image{
    width: 11vw;
    height: 15vh;
    color:white;
   
}
.link-menu{
    display: flex;
    flex-direction: column;
}
.link-menu>div{
    display: flex;
    color: var(--font-white);
    gap:15px;
    padding: auto;
}
@media (min-width: 100px) and (max-width: 700px) {
    .link-menu{
        visibility: collapse;
        width: 0;
      
    }
    .logo-image{
        width: 20vw;
        height: 10vh;
        color:white;
    }
  }
.menubar{
    /* border: 2px solid red; */
    position: absolute;
    background-color:rgb(218, 245, 218);
    top: 17vh;
    left: 0;
    width: 16vw;
    height: 88.4vh;
    transition: 1s ease;
}
.open{
    width: 20vw;
}
.close{
    width: 0px;
}
.menu{
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    font-size: 20px;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* padding-top: 4rem; */
    transition: 0.5s;
}
.menu-name{
    padding-left: 5px;
    border-bottom: 1px dotted rgb(19, 19, 45);
    margin-top: 1rem;
}
.menu-name>a{
    text-decoration: none;
    color: var(--font-color);
    
}