.header-div{
  background-color:var(--basic-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.8rem;
}
.header-div>div{
  padding-right: 1rem;
}
.header-div>h1{
  color: rgb(59, 13, 13);
}
.header-div>div>input{
  border: none;
  outline: none;
  font-size: var(--font-size);
  color: rgb(9, 27, 61);
  padding: 4px;
}