.header-div{
  margin: 0;
  position: fixed;
  
  background-color:var(--basic-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.8rem;
  gap: 20px;
  top: 0;
  z-index: 1;
  height:17vh;
  width: 100vw;
}
.header-div>div{
  padding-right: 1rem;
  display:flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.header-div>div>div>h1{
  color:var(--font-white);
  padding: 0;
  margin: 0;
}
.header-div>div>div>p{
  color:var(--font-white);
  padding: 0;
  margin: 0;
}
.header-div>div>input{
  border: none;
  outline: none;
  font-size: var(--font-size);
  color: rgb(9, 27, 61);
  padding: 4px;
}
