@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
*{
  font-family: cursive;
  font-family: 'Noto Sans', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,cursive; */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Noto Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --basic-color:rgb(49, 118, 49);
  --font-size:14px;
  --font-color:rgb(9, 69, 88);
  --font-white:white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
